terraform {
    backend "s3" {
        bucket = "env-name-tfstate-storage"
        key = "terraform.tfstate"
        region         = "ap-south-2"                          # Your AWS Region
        use_lockfile   = true                #creates the lock file in the s3 bucket like the state file. 
        encrypt        = true # encyrpting the files.
        kms_key_id   = "arn:aws:kms:ap-south-2:1234567890:alias/aws/s3"     #dummy account
        profile      = "profile_name"      #if using custom profile else comment out or remove
    }
}